<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>

</head>

<body style="background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
	<h2 th:text="${titulo}"></h2>
	<form th:action="@{/form}" th:object="${usuario}" method="post">


		<div>
			<label for="habilitar">Habilitar</label>
			<div>
				<input type="checkbox" id="habilitar" th:field="*{habilitar}">
			</div>
		</div>

		<div>
			<label>Genero</label>
			<div th:each="gen: ${genero}">
				<input type="radio" th:field="*{genero}" th:value="${gen}">
				<label th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
			</div>
			
			<div style="color:#990000" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
		</div>

		<div>
			<label for="pais">Pais</label>
			<div>
				<select id="pais" th:field="*{pais}">
					<option style="color:#1C1E1B" value="">--- Seleccionar ---</option>
					<option style="color:#1C1E1B" th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
						th:value="${pais.id}"></option>
				</select>
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>

		<div>
			<label>Roles</label>
			<div th:each="role:${listaRoles}">
				<input type="checkbox" th:field="*{roles}" th:value="${role.id}">
				<label th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
		</div>

		<div>
			<label for="identificador">Identificador</label>
			<div>
				<input type="text" id="identificador" th:field="*{identificador}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></div>
		</div>

		<div>
			<label for="nombre">Nombre</label>
			<div>
				<input type="text" id="nombre" th:field="*{nombre}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>

		<div>
			<label for="apellido">Apellido</label>
			<div>
				<input type="text" id="apellido" th:field="*{apellido}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
		</div>

		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username" th:field="*{username}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>

		<div>
			<label for="password">Password</label>
			<div>
				<input type="password" id="password" th:field="*{password}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>

		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" id="email" th:field="*{email}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>

		<div>
			<label for="cuenta">Cuenta</label>
			<div>
				<input type="text" id="cuenta" th:field="*{cuenta}">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
		</div>

		<div>
			<label for="fechaNacimiento">Fecha Nacimiento</label>
			<div>
				<input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd">
			</div>
			<div style="color:#990000" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}">
			</div>
		</div>
		<br>
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</form>

</body>

</html>